{% extends "base.html" %}

{% block content %}

<!-- Mensaje de carga -->
<div id="loadingMessage" style="display: none;" class="alert alert-info mt-3">
    Generando ejercicios, este proceso puede tardar unos segundos...
</div>

<h2>Generar Ejercicios</h2>

<!-- Formulario para generar ejercicios -->
<form id="generateExercisesForm" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.set_name.label_tag }}
        {{ form.set_name }}
    </div>
    <div class="form-group">
        {{ form.topic.label_tag }}
        {{ form.topic }}
    </div>
    <div class="form-group">
        {{ form.difficulty.label_tag }}
        {{ form.difficulty }}
    </div>
    <div class="form-group">
        {{ form.number_of_exercises.label_tag }}
        {{ form.number_of_exercises }}
    </div>
    <button type="submit" class="btn btn-primary">Generar Ejercicios</button>
</form>


<script>
    document.getElementById('generateExercisesForm').addEventListener('submit', function() {
        // Mostrar el mensaje de carga cuando se envía el formulario
        document.getElementById('loadingMessage').style.display = 'block';
    });
</script>

{% endblock %}
