{% extends "base.html" %}
{% block title %}Generar ejercicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Generar Ejercicios</h2>
    <p class="lead">Rellena el formulario para crear un conjunto de ejercicios personalizado.</p>

    <div id="loadingMessage" style="display: none;" class="alert alert-info mt-4">
        <i class="fas fa-spinner fa-spin"></i> Generando ejercicios, este proceso puede tardar unos segundos...
    </div>

    <form id="generateExercisesForm" method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form.set_name }}  
            <small class="form-text text-muted">Introduce un nombre descriptivo para el conjunto de ejercicios.</small>
        </div>

        <div class="form-group">
            {{ form.topic }}  
            <small class="form-text text-muted">Selecciona el tema relacionado con los ejercicios.</small>
        </div>

        <div class="form-group">
            {{ form.difficulty }}  
            <small class="form-text text-muted">Elige el nivel de dificultad de los ejercicios.</small>
        </div>

        <div class="form-group">
            {{ form.number_of_exercises }}  
            <small class="form-text text-muted">Indica cuántos ejercicios quieres generar (entre 1 y 8).</small>
        </div>

        <button type="submit" class="btn custom-btn btn-success btn-block">
            <i class="fas fa-cogs"></i> Generar Ejercicios
        </button>
    </form>
</div>

<script>
    document.getElementById('generateExercisesForm').addEventListener('submit', function() {
        document.getElementById('loadingMessage').style.display = 'block';
    });
</script>

<style>
    .custom-input {
        height: 40px; /* Ajusta la altura a un valor menor */
        font-size: 16px;
        padding: 8px; /* Un padding ligeramente menor */
        border-radius: 6px; /* Ajuste del borde redondeado para un estilo más sutil */
    }

    /* Aumenta el tamaño de los selectores */
    select.form-control-lg {
        height: 40px; /* Ajusta la altura para los select */
        font-size: 16px;
    }

    input::placeholder {
        color: #aaa;
        font-style: italic;
    }
</style>


{% endblock %}
