{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container register-page text-center">
    <h1 class="mt-4 mb-4">Registro</h1>
    <p class="lead">Selecciona cómo deseas registrarte:</p>
    <div class="row justify-content-center mt-5">
        <!-- Botón de Registro para Profesor -->
        <div class="col-md-4 mb-3">
            <a href="{% url 'register_teacher' %}" class="btn register-btn-teacher btn-lg btn-block">
                <i class="fas fa-chalkboard-teacher"></i> Registrarse como Profesor
            </a>
        </div>
        <!-- Botón de Registro para Estudiante -->
        <div class="col-md-4 mb-3">
            <a href="{% url 'register_student' %}" class="btn register-btn-student btn-lg btn-block">
                <i class="fas fa-user-graduate"></i> Registrarse como Estudiante
            </a>
        </div>
    </div>
</div>
{% endblock %}
