{% extends 'base.html' %}

{% block title %}Reenviar Correo de Activación{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-4 mb-4 text-center">Reenviar Correo de Activación</h2>

            <p>Recuerda: si no activas tu cuenta en un plazo de 2 horas, se eliminará y tendrás que empezar el proceso de nuevo.</p>

            {% if error_message %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Introduce tu correo electrónico:</label>
                    <input type="email" name="email" class="form-control" value="{{ email }}" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reenviar Correo</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
