{% extends "base.html" %}
{% block title %}Calendario Personal{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Columna para la lista de eventos -->
        <div class="col-md-3 pr-0">
            <h4 class="text-center mb-4 event-header">Eventos en los próximos 30 días</h4>
            <ul class="list-group">
                {% for event in upcoming_events %}
                    <li class="list-group-item">
                        <span class="event-color-dot" style="background-color: {{ event.color }};"></span>
                        <strong>{{ event.title }}</strong><br>
                        <span>{{ event.start_time|date:"j F" }}</span><br>
                        <span>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay eventos próximos</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Columna para el calendario -->
        <div class="col-md-9">
            <h2 class="calendar-header mb-5">Calendario</h2>
            <div id="calendar"></div>
        </div>
    </div>

    <!-- Ventana Modal -->
    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Crear Evento</h2>
            <form id="eventForm">
                <div class="form-group">
                    <label for="title">Título del Evento:</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="start">Fecha de Inicio:</label>
                    <input type="datetime-local" id="start" name="start" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="end">Fecha de Fin:</label>
                    <input type="datetime-local" id="end" name="end" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Evento</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/api/calendar-events/',  // Asegúrate de que esta URL esté correctamente configurada
            eventContent: function(arg) {
                let dotEl = document.createElement('span');
                dotEl.className = "fc-event-dot";
                dotEl.style.backgroundColor = arg.event.backgroundColor;
    
                let titleEl = document.createElement('span');
                titleEl.className = "fc-event-title";
                titleEl.innerText = ` ${arg.event.title}`;
    
                let titleContainerEl = document.createElement('div');
                titleContainerEl.className = 'fc-event-title-container';
                titleContainerEl.append(dotEl, titleEl);
    
                let timeEl = document.createElement('div');
                timeEl.className = "fc-event-time";
                timeEl.innerText = `${arg.event.startStr.slice(11, 16)} - ${arg.event.endStr.slice(11, 16)}`;
    
                let eventContentEl = document.createElement('div');
                eventContentEl.append(titleContainerEl, timeEl);
    
                return { domNodes: [eventContentEl] };
            },
            dateClick: function(info) {
                window.location.href = `/calendar/day/${info.dateStr}/`;
            },
            eventClick: function(info) {
                window.location.href = `/calendar/edit/${info.event.id}/`;
            }
        });
        calendar.render();
    });

    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('eventForm');
        var startTimeInput = document.getElementById('start');
        var endTimeInput = document.getElementById('end');
    
        form.addEventListener('submit', function(event) {
            var startTime = new Date(startTimeInput.value);
            var endTime = new Date(endTimeInput.value);
    
            if (endTime <= startTime) {
                event.preventDefault();
                alert("La hora de finalización debe ser posterior a la hora de inicio.");
            }
        });
    });
</script>

<!-- Estilos para la ventana modal -->
<style>

    .list-group-item:first-child {
        margin-top: 89px; /* Aumenta la separación entre cada evento */
    }

    /* Estilos para el encabezado de eventos */
    .event-header {
        font-size: 1.0rem; /* Tamaño de fuente mayor para destacar */
        font-weight: 700; /* Peso de fuente para darle énfasis */
        color: #333; /* Color de texto más oscuro para mejor contraste */
        text-transform: uppercase; /* Convertir texto a mayúsculas para destacar */
        border-bottom: 2px solid #38c19e; /* Línea inferior para separación visual */
        padding-bottom: 10px; /* Espaciado inferior para separar del contenido */
    }
    
    /* Estilos para el encabezado del calendario */
    .calendar-header {
        font-size: 2rem; /* Tamaño de fuente mayor para destacar */
        font-weight: 600; /* Peso de fuente para darle énfasis */
        color: #333; /* Color de texto más oscuro para mejor contraste */
        border-bottom: 2px solid #38c19e; /* Línea inferior para separación visual */
        padding-bottom: 10px; /* Espaciado inferior para separar del contenido */
        text-align: center;
    }
    
    /* Estilo para los puntos de color en la lista de eventos */
    .event-color-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: middle;
    }
    
    /* Asegura que todos los eventos en el calendario se muestren con un punto */
    .fc-event-dot {
        width: 10px; /* Tamaño del punto de color */
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    .fc-event-container {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fc-daygrid-event {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        font-size: 0.85em;
        color: black;
    }
    
    .fc-event-title-container {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .fc-event-title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: black;
    }
    
    .fc-event {
        background-color: transparent !important;
        border: none !important;
    }
    
    .fc-event-time {
        font-size: 0.85em;
        color: #666;
        margin-top: 2px;
        display: block;
    }

    .fc-col-header-cell-cushion,
    .fc-col-header-cell {
        background-color: #38c19e;
        color: black;
    }

    .fc-daygrid-day-number {
        color: black;
    }

    /* Estilos para la ventana modal */
    .modal {
        display: none; /* Oculta la modal por defecto */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
{% endblock %}
