{% extends 'base.html' %}

{% block title %}Enlace de Restablecimiento Enviado{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-4 mb-4 text-center">Enlace de Restablecimiento Enviado</h2>

            <div class="alert alert-info text-center">
                Se ha enviado un enlace a tu correo para restablecer tu contraseña. Por favor revisa tu bandeja de entrada.
            </div>

            <a href="{% url 'login' %}" class="btn custom-btn btn-primary btn-block mt-4">Volver al inicio</a>
        </div>
    </div>
</div>

<style>
    .alert-info {
        background-color: #d1ecf1;
        color: #0c5460;
        border: 1px solid #bee5eb;
        padding: 15px;
        border-radius: 8px;
        font-size: 16px;
    }

    .custom-btn {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
    }
</style>
{% endblock %}
