{% extends "base.html" %}

{% block title %}Chats Archivados{% endblock %}

{% block content %}
<!-- Estilos adicionales para el historial de chats -->
<style>
   
    .chat-list-container {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        width: 80%;
    }

    .chat-item {
        list-style: none;
        margin-bottom: 10px;
        padding: 10px 15px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        transition: background-color 0.3s ease;
    }

    .chat-item a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        display: block;
    }

    .chat-item:hover {
        background-color: #e9ecef;
    }

    .chat-item a:hover {
        color: #0056b3;
    }

    .empty-list {
        text-align: center;
        color: #6c757d;
        padding: 20px;
    }

    .back-btn {
        display: inline-block;
        background-color: #38c19e;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    .back-btn:hover {
        background-color: #0d9595;
        text-decoration: none; 
        color: white;

    }

</style>

<!-- Título del historial de chats -->
<h1 class="text-center mb-4">Chats Archivados</h1>

<!-- Contenedor de la lista de chats -->
<div class="chat-list-container">
    <ul>
        {% for chat in chats %}
            <li class="chat-item">
                <a href="{% url 'archived_chat' chat.chat_id %}">Chat con {{ chat.student.username }} - ID {{ chat.chat_id }}</a>
            </li>
        {% empty %}
            <li class="empty-list">No hay chats archivados disponibles.</li>
        {% endfor %}
    </ul>

    <!-- Botón para volver al chat en vivo -->
    <a href="{% url 'chat_default' %}" class="text-center custom-btn back-btn">Volver al chat en vivo</a>
</div>

{% endblock %}
