{% extends "base.html" %}

{% block title %}Chat Archivado{% endblock %}

{% block content %}
<!-- Estilos adicionales para el chat archivado -->
<style>


    .chat-archived-container {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        max-height: 500px;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        width: 80%;
    }

    .message-item {
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
    }

    .message-item strong {
        color: #007bff;
    }

    .message-item p {
        margin: 0;
    }

    /* Estilo para los mensajes del asistente */
    .assistant-message {
        background-color: #f4e3d0; 
        color: #3e2723; 
        border: 1px solid #a1887f; 
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
        

    .back-btn {
        display: flex;
        justify-content: center;  /* Centra el texto horizontalmente */
        align-items: center;  /* Centra el texto verticalmente */
        width: 70%;  /* Ajusta el ancho del botón al tamaño del texto */
        background-color: #38c19e;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }
    
    .back-btn:hover {
        background-color: #0d9595;
        text-decoration: none; 
        color: white;
    }
    
    .button-container {
        display: flex;
        justify-content: center;  /* Asegura que el botón esté centrado */
    }
    
    pre code {
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 8px;
        font-family: 'Courier New', Courier, monospace;
        overflow-x: auto;
    }
    
    h1, h2, h3 {
        margin-top: 1rem;
    }
</style>

<h1 class="text-center mb-4">Chat Archivado</h1>

<!-- Contenedor del chat archivado -->
<div class="chat-archived-container">
    {% for message in conversation %}
        <div class="message-item {% if message.role == 'assistant' %}assistant-message{% endif %}">
            <p>
                <strong>
                    {% if message.role == 'user' %}
                        {{ chat.student.username }}:
                    {% elif message.role == 'assistant' %}
                        Saymplexfp:
                    {% else %}
                        {{ message.role }}:
                    {% endif %}
                </strong>
                {{ message.content|safe }}
            </p>
        </div>
    {% endfor %}
</div>


<div class="button-container">
    {% if user.is_teacher %}
        <!-- Enlace para volver al perfil del estudiante -->
        <a href="{% url 'student_detail' chat.student.id %}" class="back-btn">Volver al Perfil del Estudiante</a>
    {% elif user.is_student %}
        <!-- Enlace para volver a la vista principal del chat -->
        <a href="{% url 'archived_chats_list' %}" class="back-btn">Volver al historial de Chats</a>
    {% endif %}
</div>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
