{% extends "base.html" %}

{% block content %}
<h2>Conjunto de Ejercicios: {{ exercise_set.name}}</h2>

<div>
    {% for exercise in exercises %}
        <div class="exercise">
            <h3>Ejercicio {{ forloop.counter }}</h3>  <!-- Muestra el número del ejercicio dentro del set -->
            <p>{{ exercise.statement|safe }}</p>
            <button onclick="toggleSolution({{ exercise.exercise_id }})">Mostrar solución</button>
            <div id="solution_{{ exercise.exercise_id }}" style="display:none;">
                <pre>{{ exercise.solution|safe }}</pre>
            </div>
            <div class="code-editor">
                <textarea id="editor_{{ exercise.exercise_id }}"></textarea>
                <button onclick="runCode({{ exercise.exercise_id }})">Ejecutar código</button>
                <div id="output_{{ exercise.exercise_id }}"></div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
function toggleSolution(exercise_id) {
    var solutionDiv = document.getElementById('solution_' + exercise_id);
    if (solutionDiv.style.display === "none") {
        solutionDiv.style.display = "block";
    } else {
        solutionDiv.style.display = "none";
    }
}
</script>
{% endblock %}
