{% extends "base.html" %}
{% block title %}Generar Ejercicios{% endblock %}

{% block content %}
<div class="container">
    <h2>Generar Ejercicios</h2>
    <a href="{% url 'generate_exercises' %}" class="btn btn-primary mb-3">Generar Nuevos Ejercicios</a>

    <h3>Tus Conjuntos de Ejercicios Generados</h3>
    {% if exercise_sets.exists %}
        <ul>
        {% for exercise_set in exercise_sets %}
            <li>
                <h4>{{ exercise_set.name }} - Generado: {{ exercise_set.created_at|date:"d M Y H:i" }} - Tema {{ exercise_set.exercises.first.topic }}</h4>
                <a href="{% url 'exercise_set_detail' exercise_set.set_id %}">Ver Conjunto de Ejercicios</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No has generado ningún conjunto de ejercicios aún.</p>
    {% endif %}
</div>
{% endblock %}
