{% extends "base.html" %}
{% load static %}
{% block title %}Bienvenido a Mi Proyecto TFG{% endblock %}

{% block content %}
<div class="container">
    <!-- Título de la página -->
    <h1 class="mt-4 mb-4 text-center">{{ message }}</h1>
    
    <!-- Imagen grande horizontal -->
    <div class="mb-4">
        <img src="{% static 'images/img1.jpg' %}" class="img-fluid" alt="Imagen descriptiva del TFG">
    </div>

    {% if user_type == "Teacher" %}
    <!-- Contenido específico para profesores -->
    <div class="mb-4">
        <p>
            Esta sección es específica para profesores. Aquí puedes gestionar tus cursos, crear exámenes y monitorear el progreso de tus estudiantes.
        </p>
    </div>

    {% elif user_type == "Student" %}
    <!-- Contenido específico para estudiantes -->
    <div class="mb-4">
        <p>
            Esta sección es específica para estudiantes. Aquí puedes inscribirte en cursos, acceder a materiales de estudio y realizar exámenes.
        </p>
    </div>

    {% elif user_type == "Guest" %}
    <!-- Contenido específico para usuarios no logueados (invitados) -->
    <div class="mb-4">
        <p>
            Bienvenido a nuestra plataforma educativa. Por favor, regístrate o inicia sesión para acceder a todas las funcionalidades de la plataforma.
        </p>
    </div>
    {% endif %}

    <!-- Contenido común -->
    <div class="mb-4">
        <p>
            Bienvenido a la página web de mi Trabajo de Fin de Grado (TFG). Este proyecto ha sido diseñado para facilitar la interacción entre estudiantes y profesores en un entorno académico virtual.
        </p>
    </div>

    <!-- Segundo párrafo con imagen a la derecha -->
    <div class="mb-4 d-flex">
        <div class="flex-grow-1">
            <p>
                En esta plataforma, los estudiantes pueden inscribirse en diferentes cursos, acceder a materiales de estudio, realizar exámenes y unirse a grupos de trabajo.
            </p>
        </div>
        <div class="ml-4">
            <img src="{% static 'images/img2.jpg' %}" class="img-fluid" alt="Imagen explicativa">
        </div>
    </div>

    <!-- Tercer párrafo con imagen a la izquierda -->
    <div class="mb-4 d-flex">
        <div class="mr-4">
            <img src="{% static 'images/img3.jpg' %}" class="img-fluid" alt="Imagen ilustrativa">
        </div>
        <div class="flex-grow-1">
            <p>
                Este TFG tiene como meta principal la creación de una herramienta útil y funcional.
            </p>
        </div>
    </div>
</div>
{% endblock %}
