{% extends "base.html" %}

{% block title %}Perfil del Usuario{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Tarjeta con solo cambios estéticos -->
            <div class="card profile-card shadow-sm mt-5">
                <div class="card-header text-center bg-primary text-white">
                    <h2><i class="fas fa-user"></i> Perfil del Usuario</h2>
                </div>
                <div class="card-body">
                    <p><strong><i class="fas fa-user-circle"></i> Nombre de usuario:</strong> {{ user.username }}</p>
                    <p><strong><i class="fas fa-id-badge"></i> Nombre:</strong> {{ user.first_name }}</p>
                    <p><strong><i class="fas fa-user-tag"></i> Apellidos:</strong> {{ user.last_name }}</p>
                    <p><strong><i class="fas fa-envelope"></i> Correo electrónico:</strong> {{ user.email }}</p>
                    <p><strong><i class="fas fa-user-shield"></i> Tipo de usuario:</strong> {{ user.user_type }}</p>
                    <p><strong><i class="fas fa-graduation-cap"></i> Grado:</strong> {{ user.degree }}</p>
                    <p><strong><i class="fas fa-users"></i> Grupo:</strong> {{ user.group }}</p>
                </div>
                <div class="card-footer text-center text-black">
                    <a href="{% url 'edit_profile' %}" class="btn btn-secondary btn-yellow mt-3 edit-btn">
                        <i class="fas fa-edit "></i> Editar Perfil
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .edit-btn {
        background-color: #E4B478;
        color: white;
    }

    .edit-btn:hover {
        background-color: #E0CC9D;
    }

</style>
{% endblock %}
